<h2>My Fvorites</h2>

<p>All <%=  player.length%> of my faves!</p>

<% player.forEach(function(p) => { %> 
    <div class="well">
        <h3>
            <a href=""></a>
        </h3>
    </div>
}); 