<h2>Hello <%= user.email %> </h2>
<p>
<form method="POST" action="/users/profile/?_method=PUT">
    <label for="password">New Password:</label>
    <input type="password" id="password" placeholder="type your new password" name="password">
    <button type="submit">Update Password</button>
</form>
</p>