<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Pocket</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
    <h1>NBA Pocket</h1>
    <h2>NBA Players Directory</h2>  
    <nav> Sign up or Login to search NBA players
        <ul> 
            <% if (user) { %>
                <li><a href="/users/profile">Profile</a></li>
                <li><a href="/users/logout">Logout</a></li>
            <% } else { %>
            <li><a href="/users/new">Sign Up</a></li>
            <li><a href="/users/login">Login</a></li>
            <% } %> 
        </ul>
    </nav>
    <%-body  %> 
</body>
</html>