
<h4>

<% if (error) { %>
    <em><%=error %> </em>
   <% } %>
   
   <form action="/users/login" method="POST">
       <!-- email and password -->
       <label for="email">Email:</label>
       <input type="email" name="email" id="email">
   
       <label for="password">Password:</label>
       <input type="password" name="password" id="password">
       
       <button type="submit">Log In</button>
   </form>

</h4>