<h1>Hello <%= user.email %> </h1>

<form method="GET" action="/nbaplayersapi">
    <label for="nbaapi-search">Search</label>
    <input type="text" id="nbaplayersapi-search" placeholder="enter players first name" name="search"/>
    <input type="submit"/>
</form>